*.class
target
logs



# 前端忽略
node_modules
/dist
wxapp/utils/config.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/main/java/com/bs/payment/modules/trade/Test.java
