<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.BillRefundLogCachMapper">

	<insert id="save" parameterType="BillRefundLogCach" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pay_center3_bill_refund_log_cach (`id`, `app_id`, `pay_type`, `bill_date`, `order_no`, `refund_no`, `trade_no`, `refund_amount`, `service_charge`, `trade_time`, `details`, `create_time`)
		VALUES (#{id}, #{appId}, #{payType}, #{billDate}, #{orderNo}, #{refundNo}, #{tradeNo}, #{refundAmount}, #{serviceCharge}, #{tradeTime}, #{details, typeHandler=com.bs.payment.common.mybatis.JsonTypeHandler}, #{createTime})
	</insert>
	
	<insert id="saveBatch" parameterType="list" useGeneratedKeys="false">
		INSERT INTO pay_center3_bill_refund_log_cach (`id`, `app_id`, `pay_type`, `bill_date`, `order_no`, `refund_no`, `trade_no`, `refund_amount`, `service_charge`, `trade_time`, `details`, `create_time`)
		VALUES 
	
  		<foreach collection="list" item="item" index="index"  separator=",">
  				 (
  					#{item.id}, 
  					#{item.appId}, 
  					#{item.payType}, 
  					#{item.billDate}, 
  					#{item.orderNo}, 
  					#{item.refundNo}, 
  					#{item.tradeNo}, 
  					#{item.refundAmount}, 
  					#{item.serviceCharge}, 
  					#{item.tradeTime}, 
  					#{item.details, typeHandler=com.bs.payment.common.mybatis.JsonTypeHandler}, 
  					#{item.createTime}
  					
  				 )
  		</foreach>	
	</insert>
	
	<delete id="delete" >
		delete from pay_center3_bill_refund_log_cach
		where refund_no = #{refundNo}
		and pay_type = #{payType}
		and app_id = #{appId}
	</delete>
	
	<delete id="deleteBatch" >
		delete from pay_center3_bill_refund_log_cach
		where id in
		<foreach collection="list" item= "item" index ="index" open= "(" close =")" separator=",">
            #{item.id}
       	</foreach >
	</delete>
	
	<select id="findByRefundNo" resultMap="billRefundLogCach" >
		select `id`, `app_id`, `pay_type`, `bill_date`, `order_no`, `refund_no`, `trade_no`, `refund_amount`, `service_charge`, `trade_time`, `details`, `create_time` 
		from pay_center3_bill_refund_log_cach
		where refund_no = #{refundNo}
		and pay_type = #{payType}
		and app_id = #{appId}
	</select>
	<select id="findListByPayTypeAndAppId" resultMap="billRefundLogCach" >
		select `id`, `app_id`, `pay_type`, `bill_date`, `order_no`, `refund_no`, `trade_no`, `refund_amount`, `service_charge`, `trade_time`, `details`, `create_time` 
		from pay_center3_bill_refund_log_cach
		where  pay_type = #{payType} and app_id = #{appId}
	</select>
	
	<select id="findListMoreThanThreeDay" resultMap="billRefundLogCach" >
		select `id`, `app_id`, `pay_type`, `bill_date`, `order_no`, `refund_no`, `trade_no`, `refund_amount`, `service_charge`, `trade_time`, `details`, `create_time` 
		from pay_center3_bill_refund_log_cach
		where   pay_type = #{payType}  and app_id = #{appId} and  DATE_ADD(create_time,INTERVAL 4 DAY) &lt; NOW()  ORDER BY create_time DESC
		
	</select>
	
	 
	<resultMap type="BillRefundLogCach" id="billRefundLogCach">
		<id column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="pay_type" property="payType" />
		<result column="bill_date" property="billDate" />
		<result column="order_no" property="orderNo" />
		<result column="refund_no" property="refundNo" />
		<result column="trade_no" property="tradeNo" />
		<result column="refund_amount" property="refundAmount" />
		<result column="service_charge" property="serviceCharge" />
		<result column="trade_time" property="tradeTime" />
		<result column="details" property="details" typeHandler="com.bs.payment.common.mybatis.JsonTypeHandler" />
		<result column="create_time" property="createTime" />
	</resultMap>
</mapper>