<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.BillCountLogMapper">

	<insert id="save" parameterType="BillCountLog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pay_center3_bill_count_log (`id`, `app_id`,`merchant_id`, `pay_type`, `bill_date`, `pay_count`, `refund_count`, `pay_total_amount`, `refund_total_amount`, `service_charge`, `income`,  `details`, `create_time`)
		VALUES (#{id}, #{appId}, #{merchantId}, #{payType}, #{billDate}, #{payCount}, #{refundCount}, #{payTotalAmount}, #{refundTotalAmount}, #{serviceCharge}, `income`, #{details, typeHandler=com.bs.payment.common.mybatis.JsonTypeHandler}, #{createTime})
	</insert>
	
	<select id="find" resultMap="billCountLog" >
		select `id`, `app_id`,`merchant_id`, `pay_type`, `bill_date`, `pay_count`, `refund_count`, `pay_total_amount`, `refund_total_amount`, `service_charge`, `income`, `details`, `create_time`
		from pay_center3_bill_count_log 
		where app_id = #{appId}
		and pay_type = #{payType}
		and bill_date = #{billDate}
		<if test="merchantId!=null">
			and merchant_id = #{merchantId}
		</if>
		
	</select>
	
	<resultMap type="BillCountLog" id="billCountLog">
		<id column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="pay_type" property="payType" />
		<result column="merchant_id" property="merchantId" />
		<result column="bill_date" property="billDate" />
		<result column="pay_count" property="payCount" />
		<result column="refund_count" property="refundCount" />
		<result column="pay_total_amount" property="payTotalAmount" />
		<result column="refund_total_amount" property="refundTotalAmount" />
		<result column="service_charge" property="serviceCharge" />
		<result column="income" property="income" />
		<result column="details" property="details" typeHandler="com.bs.payment.common.mybatis.JsonTypeHandler" />
		<result column="create_time" property="createTime" />
	</resultMap>
</mapper>