<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.CommonProblemMapper">
	
	<select id="getCount" resultType="Long" >
		select  count(1) from bs_common_problem 
		 
	</select>
	
	<select id="getList" resultType="CommonProblemEntity" >
		select  *
		from bs_common_problem  
		 order by update_time desc 
		limit #{offset},#{limit}  
	</select>
	
	 
</mapper>