<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.OrderInfoMapper">

	
	<select id="getCount" resultType="Long" >
		select  count(1) from bs_order_info 
		<where>
			<if test="orderNo!=null">
				order_no = #{orderNo}
			</if>
			<if test="userId!=null">
				and user_id = #{userId}
			</if>
			<if test="madeType!=null">
				and made_type = #{madeType}
			</if>
			<if test="payStatus!=null">
				and pay_status = #{payStatus}
			</if>
			<if test="shipStatus!=null">
				and ship_status = #{shipStatus}
			</if>
		</where>
		 
	</select>
	
	<select id="getBgOrderList" resultType="OrderInfoRespVO" >
		
		SELECT   ord.*,gift.picture FROM bs_order_info AS ord 
		INNER JOIN bs_gift_info AS gift ON gift.gift_code = ord.gift_code 
		<where>
			<if test="orderNo!=null">
				ord.order_no = #{orderNo}
			</if>
			<if test="madeType!=null">
				and ord.made_type = #{madeType}
			</if>
			<if test="payStatus!=null">
				and ord.pay_status = #{payStatus}
			</if>
			<if test="shipStatus!=null">
				and ord.ship_status = #{shipStatus}
			</if>
			 <if test="userId!=null">
				and ord.user_id = #{userId}
			</if>
		</where>
		limit #{offset},#{limit}
		 
	</select>
	
	 
</mapper>