<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.OrderInfoMapper">

	
	<select id="getCount" resultType="Long" >
		select  count(1) from bs_order_info 
		<where>
			<if test="orderNo!=null">
				order_no = #{orderNo}
			</if>
			<if test="userId!=null">
				and user_id = #{userId}
			</if>
			<if test="madeType!=null">
				and made_type = #{madeType}
			</if>
			<if test="payStatus!=null">
				and pay_status = #{payStatus}
			</if>
			<if test="shipStatus!=null">
				and ship_status = #{shipStatus}
			</if>
		</where>
		 
	</select>
	
	<select id="getBgOrderList" resultType="OrderInfoEntity" >
		select  *
		from bs_order_info 
		<where>
			<if test="orderNo!=null">
				order_no = #{orderNo}
			</if>
			<if test="madeType!=null">
				and made_type = #{madeType}
			</if>
			<if test="payStatus!=null">
				and pay_status = #{payStatus}
			</if>
			<if test="shipStatus!=null">
				and ship_status = #{shipStatus}
			</if>
			 <if test="userId!=null">
				and user_id = #{userId}
			</if>
		</where>
		limit #{offset},#{limit}
		 
	</select>
	
	<select id="getOrderList" resultType="OrderInfoRespVO" >
		select  user_id,order_no,pay_status,ship_status,create_time
		from bs_order_info 
		<where> 
			<if test="userId!=null">
				user_id = #{userId}
			</if>
			<if test="madeType!=null">
				and made_type = #{madeType}
			</if>
			<if test="payStatus!=null">
				and pay_status = #{payStatus}
			</if>
			<if test="shipStatus!=null">
				and ship_status = #{shipStatus}
			</if>
		</where>
		limit #{offset},#{limit}
		 
	</select>
	
	 
</mapper>