<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.PayRequestLogMapper">

	<insert id="save" parameterType="PayRequestLog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `pay_center3_pay_request` (`id`, `app_id`, `pay_type`, `channel`, `order_no`, `amount`, `subject`, `sign_type`, `client_ip`, `extra`)
		VALUES (#{id}, #{appId}, #{payType}, #{channel}, #{orderNo}, #{amount}, #{subject}, #{signType}, #{clientIp}, #{extra})
	</insert>
	
	<update id="saveResponse">
		update `pay_center3_pay_request` set response=#{response, typeHandler=com.bs.payment.common.mybatis.JsonTypeHandler} 
		where id=#{id}
	</update>
	<update id="saveExtra">
		update `pay_center3_pay_request` set extra=#{extra} 
		where id=#{id}
	</update>
	
	<select id="getResponse" resultMap="payRequestLog">
		select response from pay_center3_pay_request where id = #{id}
	</select>
	
	<select id="findByOrderNoLike" resultMap="payRequestLog">
		select id, app_id, pay_type, channel, order_no, amount, subject, sign_type, client_ip, extra, create_time
		from pay_center3_pay_request 
		where order_no like CONCAT(#{orderNo},'%')
		<if test="payType != null"> and pay_type = #{payType} </if>
	</select>
	
	<select id="findByOrderNo" resultMap="payRequestLog">
		select id, app_id, pay_type, channel, order_no, amount, subject, sign_type, client_ip, extra, create_time, response
		from pay_center3_pay_request 
		where order_no = #{orderNo}
		and pay_type = #{payType}
		and app_id = #{appId}
	</select>
	<!-- 20190505 gunzl 支持小程序支付 beg -->
	<select id="findByAppIdAndOrderNo" resultMap="payRequestLog">
		select id, app_id, pay_type, channel, order_no, amount, subject, sign_type, client_ip, extra, create_time
		from pay_center3_pay_request 
		where app_id = #{appId}
		and order_no = #{orderNo}
	</select>
	<!-- 20190505 gunzl 支持小程序支付 end -->
	
	<select id="delete">
		delete from pay_center3_pay_request where id=#{id}
	</select>
	
	<select id="findInOrders" parameterType="java.util.HashSet" resultMap="payRequestLog">
		select id, app_id, pay_type, channel, order_no, amount, subject, sign_type, client_ip, extra, create_time
		from pay_center3_pay_request 
		where order_no in <foreach collection="orders" item="id" open="(" separator="," close=")">#{id}</foreach>
		and pay_type = #{payType}
	</select>
	
	<select id="findBetweenDate" parameterType="java.util.HashSet" resultMap="payRequestLog">
		select id, app_id, pay_type, channel, order_no, amount, subject, sign_type, client_ip, extra, create_time
		from pay_center3_pay_request 
		where create_time between #{startDate} and #{endDate}
		<if test="payType != null"> and pay_type=#{payType}</if>
		<if test="appId != null"> and app_id=#{appId}</if>
	</select>
	<select id="findBetweenDateInnerJoinNotify" parameterType="java.util.HashSet" resultMap="payRequestLog">
		select pay.id, pay.app_id, pay.pay_type, pay.channel, pay.order_no, pay.amount, 
		pay.subject, pay.sign_type, pay.client_ip, pay.extra, pay.create_time
		from pay_center3_pay_request AS  pay 
		INNER JOIN pay_center3_pay_notify AS  notify ON pay.order_no=notify.order_no AND pay.pay_type=notify.pay_type AND pay.app_id=notify.app_id
		where pay.create_time between #{startDate} and #{endDate}
		<if test="payType != null"> and pay.pay_type=#{payType}</if>
		<if test="appId != null"> and pay.app_id=#{appId}</if>
	</select>
	
	<select id="findUnqueryBetweenDate" resultMap="payRequestLog">
		select pr.id, pr.app_id, pr.pay_type, pr.channel, pr.order_no, pr.amount, pr.subject, pr.sign_type, pr.client_ip, pr.extra, pr.create_time 
		from pay_center3_pay_request pr left join pay_center3_pay_query_result pqr 
			on pr.pay_type = pqr.pay_type and pr.order_no = pqr.order_no
		where pqr.app_id is null
		and pr.create_time between #{startDate} and #{endDate}
		<if test="payType != null"> and pr.pay_type=#{payType}</if>
	</select>

	<resultMap type="PayRequestLog" id="payRequestLog">
		<id column="id" property="id" />
		<result column="id"  property="id" />
		<result column="app_id"  property="appId" />
		<result column="pay_type"  property="payType" />
		<result column="channel"  property="channel" />
		<result column="order_no"  property="orderNo" />
		<result column="amount"  property="amount" />
		<result column="subject"  property="subject" />
		<result column="sign_type"  property="signType" />
		<result column="client_ip"  property="clientIp" />
		<result column="extra"  property="extra" />
		<result column="create_time"  property="createTime" />
		<result column="response"  property="response" typeHandler="com.bs.payment.common.mybatis.JsonTypeHandler" />
	</resultMap>

</mapper>