<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.RefundQueryResultMapper">

	<insert id="save" parameterType="RefundQueryResult" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pay_center3_refund_query_result (id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, extra, create_time, details)
		VALUES (#{id}, #{appId}, #{payType}, #{refundNo}, #{orderNo}, #{tradeNo}, #{refundAmount}, #{totalAmount}, #{extra}, #{createTime}, #{details, typeHandler=com.bs.payment.common.mybatis.JsonTypeHandler})
	</insert>
	
	<select id="findByRefundNo" resultMap="refundQueryResult">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, extra, create_time, details
		from pay_center3_refund_query_result 
		where refund_no=#{refundNo}
		and pay_type=#{payType}
	</select>
	
	<select id="findByOrderNoLike" resultMap="refundQueryResult">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, extra, create_time, details
		from pay_center3_refund_query_result 
		where order_no like CONCAT(#{orderNo},'%')
		<if test="payType != null"> and pay_type = #{payType} </if>
	</select>
	
	<select id="findByOrderNo" resultMap="refundQueryResult">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, extra, create_time, details
		from pay_center3_refund_query_result 
		where order_no=#{orderNo}
		and pay_type = #{payType}
	</select>
	
	<select id="findInOrders" parameterType="java.util.HashSet" resultMap="refundQueryResult">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, extra, create_time, details
		from pay_center3_refund_query_result 
		where order_no in <foreach collection="orders" item="id" open="(" separator="," close=")">#{id}</foreach>
		and pay_type in <foreach collection="payTypes" item="payType" open="(" separator="," close=")">#{payType}</foreach>
	</select>
	
	<select id="findInRefunds" parameterType="java.util.HashSet" resultMap="refundQueryResult">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, extra, create_time, details
		from pay_center3_refund_query_result 
		where refund_no in <foreach collection="refunds" item="id" open="(" separator="," close=")">#{id}</foreach>
		and pay_type in <foreach collection="payTypes" item="payType" open="(" separator="," close=")">#{payType}</foreach>
	</select>
	
	<resultMap type="RefundQueryResult" id="refundQueryResult">
		<id column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="pay_type" property="payType" />
		<result column="refund_no" property="refundNo" />
		<result column="order_no" property="orderNo" />
		<result column="trade_no" property="tradeNo" />
		<result column="refund_amount" property="refundAmount" />
		<result column="total_amount" property="totalAmount" />
		<result column="extra" property="extra" />
		<result column="create_time" property="createTime" />
		<result column="details"  property="details" typeHandler="com.bs.payment.common.mybatis.JsonTypeHandler" />
	</resultMap>
</mapper>