<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.payment.modules.trade.dao.RefundNotifyLogMapper">

	<insert id="save" parameterType="PayNotifyLog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pay_center3_refund_notify (id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, refund_status, extra, trade_time, create_time, details)
		VALUES (#{id}, #{appId}, #{payType}, #{refundNo}, #{orderNo}, #{tradeNo}, #{refundAmount}, #{totalAmount}, #{refundStatus}, #{extra}, #{tradeTime}, #{createTime}, #{details, typeHandler=com.bs.payment.common.mybatis.JsonTypeHandler})
	</insert>
	
	<select id="findByRefundNo" resultMap="refundNotifyLog">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, refund_status, extra, trade_time, create_time, details
		from pay_center3_refund_notify 
		where refund_no=#{refundNo}
	</select>
	
	<select id="findByOrderNoLike" resultMap="refundNotifyLog">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, refund_status, extra, trade_time, create_time, details
		from pay_center3_refund_notify 
		where order_no like CONCAT(#{orderNo},'%')
		<if test="payType != null"> and pay_type = #{payType} </if>
	</select>
	
	<select id="findByOrderNo" resultMap="refundNotifyLog">
		select id, app_id, pay_type, refund_no, order_no, trade_no, refund_amount, total_amount, refund_status, extra, trade_time, create_time, details
		from pay_center3_refund_notify 
		where order_no=#{orderNo}
		and pay_type = #{payType}
	</select>
	
	<resultMap type="RefundNotifyLog" id="refundNotifyLog">
		<id column="id" property="id" />
		<result column="app_id" property="appId" />
		<result column="pay_type" property="payType" />
		<result column="refund_no" property="refundNo" />
		<result column="order_no" property="orderNo" />
		<result column="trade_no" property="tradeNo" />
		<result column="refund_amount" property="refundAmount" />
		<result column="total_amount" property="totalAmount" />
		<result column="refund_status" property="refundStatus" />
		<result column="extra" property="extra" />
		<result column="trade_time" property="tradeTime" />
		<result column="create_time" property="createTime" />
		<result column="details"  property="details" typeHandler="com.bs.payment.common.mybatis.JsonTypeHandler" />
	</resultMap>
</mapper>